
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}


li {
  list-style: none;
}


.container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

/*header css*/

.header {
  background-color: white;
  display: grid;
  grid-column: 2/9;
  height: 100px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.user-banner {
  display: flex;
  padding: 30px;
  gap: 50px;
}

.user-nav {
  display: flex;
  gap: 20px;
}

.user-nav > li > button {
  background-color: rgba(221, 235, 229, 0.86);
  border: none;
  border-radius: 30px;
  width: 120px;
  height: 50px;
  color: black;
  font-weight: bold;
}

.user-icon {
  color: black;
  width: 50px;
}

.user-id {
  display: flex;
  gap: 20px;
}

/* dashboard css */
.user-dashboard {
  background-color: rgba(206, 214, 210, 0.945);
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  color: black;
}

.user-dashboard > h1{
  align-self: center;
  padding: 20px;
  font-size: 50px;
}

.user-dashboard-menu {
  padding: 20px 90px;
}


.user-tasks > li , .user-lists > li {
  font-size: 20px;
  margin: 20px;
}

.user-tasks > h2 , .user-lists > h2  {
  font-size: 25px;
}


/*add task form*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
